/hello word/JavaApplication1/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Program6/dist/
/Leb_One_program/nbproject/private/
/Leb_One_cookies/nbproject/private/
/Leb_One_cookies/build/
/User_Registration/nbproject/private/
/User_Registration/build/
/User_Login/nbproject/private/
/User_Login/build/
/excel_form/nbproject/private/
/excel_form/build/
/JavaServer Pages (JSP)/JSP_Helloworld/build/
/JavaServer Pages (JSP)/JSP_Helloworld/nbproject/private/
/JavaServer Pages (JSP)/Two_Number_Addition/build/
/JavaServer Pages (JSP)/Two_Number_Addition/nbproject/private/
/JavaServer Pages (JSP)/Get_Details_And_Display_Details/nbproject/private/
/JavaServer Pages (JSP)/Get_Details_And_Display_Details/build/
/JavaServer Pages (JSP)/Calculator/nbproject/private/
/JavaServer Pages (JSP)/Calculator/build/
/JavaServer Pages (JSP)/cal/nbproject/private/
/JavaServer Pages (JSP)/Calculate_Simple_Interest/nbproject/private/
/JavaServer Pages (JSP)/Calculate_Simple_Interest/build/
/JavaServer Pages (JSP)/Calculate_Net_Salary/nbproject/private/
/JavaServer Pages (JSP)/Calculate_Net_Salary/build/
/JavaServer Pages (JSP)/Calculate_Percenteage_And_Grade/nbproject/private/
/JavaServer Pages (JSP)/Calculate_Percenteage_And_Grade/build/
/JavaServer Pages (JSP)/sum_of_even_and_odd/nbproject/private/
/JavaServer Pages (JSP)/sum_of_even_and_odd/build/
/JavaServer Pages (JSP)/Bank/nbproject/private/
/JavaServer Pages (JSP)/Bank/build/
/JavaServer Pages (JSP)/test/nbproject/private/
/JavaServer Pages (JSP)/test/build/
/JavaServer Pages (JSP)/area_and_Perimeter_of_a_Circle/nbproject/private/
/JavaServer Pages (JSP)/upper_case_lower_case/nbproject/private/
/JavaServer Pages (JSP)/upper_case_lower_case/dist/
/JavaServer Pages (JSP)/upper_case_lower_case/build/
/JavaServer Pages (JSP)/area_and_Perimeter_of_a_Circle/build/
/JavaServer Pages (JSP)/maximum of the 3 values/nbproject/private/
/JavaServer Pages (JSP)/maximum of the 3 values/dist/
/JavaServer Pages (JSP)/maximum of the 3 values/build/
/JavaServer Pages (JSP)/Odd_Event_Program_3/nbproject/private/
/JavaServer Pages (JSP)/Odd_Event_Program_3/build/
/JavaServer Pages (JSP)/factorial_program_4/nbproject/private/
/JavaServer Pages (JSP)/factorial_program_4/build/
/JavaServer Pages (JSP)/pattern_program5/nbproject/private/
/JavaServer Pages (JSP)/pattern_program5/build/