/hello word/JavaApplication1/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Program6/dist/
/Leb_One_program/nbproject/private/
/Leb_One_cookies/nbproject/private/
/Leb_One_cookies/build/
/User_Registration/nbproject/private/
/User_Registration/build/
/User_Login/nbproject/private/
/User_Login/build/
/excel_form/nbproject/private/
/excel_form/build/
/JavaServer Pages (JSP)/JSP_Helloworld/build/
/JavaServer Pages (JSP)/JSP_Helloworld/nbproject/private/
/JavaServer Pages (JSP)/Two_Number_Addition/build/
/JavaServer Pages (JSP)/Two_Number_Addition/nbproject/private/