<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <prooerty name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prooerty>
      <prooerty name="hibernate.connection.driver_class">com.myql.jdbc.Driver</prooerty>
      <prooerty name="hibernate.connection.url">jdbc:mysql://localhost:3306/java_database?zeroDateTimeBehavior=convertToNull</prooerty>
      <prooerty name="hibernate.connection.username">root</prooerty>
    </session-factory>
</hibernate-configuration>
